{% extends 'blog/base.html' %}

{% block content %}
<div class="post">
    {% if post.published_date %}
    <div class="date">
        {{ post.published_date }}
    </div>
    {% endif %}
    {% if user.is_authenticated %}
       
        <form method="POST" action="delete/" class="post-form">
            {% csrf_token %}
            
            <!--<a class="btn btn-default" href="{% url 'post_delete' pk=post.pk %}"><span class="glyphicon glyphicon-trash"></span></a>-->
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <button class="btn btn-danger" onclick="return eliminar();" type="submit"><span class="glyphicon glyphicon-trash"></span></button>
        </form>        
    {% endif %}
    <h2>{{ post.title }}</h2>
    <p>{{ post.text|linebreaksbr }}</p>
</div>

<script type="text/javascript">
    function eliminar() {
      var x = confirm("Are you sure you want to delete?");
      if (x)
        return true;
      else
        return false;
    }
  </script>
{% endblock %}